.pinCard__container {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
}

.pinCard__image {
  width: 100%;
  border-radius: 10px;
}

.pinCard_info__container {
  display: flex;
  margin: 10px;
  width: 100px;
  height: 100px;
  background-color: lightgrey;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.pinCard_info_board__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}
